<a href="https://colab.research.google.com/github/dhruvmistry2000/colab/blob/main/200050131015.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1) Write a program to find sum of two integers.

In [ ]:
a = int(input("first number : "))
b = int(input("second number : "))
c = a+b
print("sum : ", + c )

first number : 66
second number : 3
sum :  69

# 2) Write a python program to find area of circle.

In [ ]:
rad = int(input("Enter radius of circle = "))
area = 2*3.14*rad
print("The area of circle is ", area)

Enter radius of circle = 2
The area of circle is  12.56

# 3) Write a python program which input string and perform operations like finding length of string,  convert string into upper case, lower case, finding no of occurrences of character.

In [ ]:
str1 = input("Enter the String = ")
print("The length of string is ", len(str1))
print("The string in Upper case is ", str1.upper())
print("The string in lower case is ", str1.lower())

Enter the String = dhruv
The length of string is  5
The string in Upper case is  DHRUV
The string in lower case is  dhruv

# 4)Write a python program which input an array/s and perform various operations on it like,  finding length, insert element, delete element, search, update element, concatenation.

In [ ]:
import array as arr

a = arr.array('i', [1, 2, 3])
b = arr.array('i', [9, 8 ,7])

print("The array is ", a)

print("The length of array is ", len(a))

a.insert(4,6)
print("The array after inserting element is ", a )

a.remove(1)
print("The array after deleting element is ", a)

print("The index of 2 is ", a.index(2))
a.append(99)
print( "The updated array is " , a)

print("The concatinated array is ", a+b)

The array is  array('i', [1, 2, 3])
The length of array is  3
The array after inserting element is  array('i', [1, 2, 3, 6])
The array after deleting element is  array('i', [2, 3, 6])
The index of 2 is  0
The updated array is  array('i', [2, 3, 6, 99])
The concatinated array is  array('i', [2, 3, 6, 99, 9, 8, 7])

# 5)Write a python program which input list and perform operations like find length of list, insert  element into list, remove element from list, clear whole list, copy list, slicing of list, search  element, join two lists, extend list.

In [ ]:
lis = [2, 3, 6, 88, 99]
lis2 = [8, 6, 33, 666]
print("The list1 is ", lis)

print("The length of list1 is ", len(lis))

lis.insert(6, 55)
print("The list1 after inserting element is ", lis)

lis.remove(3)
print("The list1 after removing element is ", lis)

lis3 = lis.copy()
print("List3 is the copy of list1 and the elements are " , lis3)

print("The index of 99 is ", lis.index(99))

print("Adding list1 and list2 and the result is ", lis+lis2)

lis.extend(lis3)
print("The extended list is ", lis)

lis3.clear()
print("the list3 is clear and the list is ", lis3)

The list1 is  [2, 3, 6, 88, 99]
The length of list1 is  5
The list1 after inserting element is  [2, 3, 6, 88, 99, 55]
The list1 after removing element is  [2, 6, 88, 99, 55]
List3 is the copy of list1 and the elements are  [2, 6, 88, 99, 55]
The index of 99 is  3
Adding list1 and list2 and the result is  [2, 6, 88, 99, 55, 8, 6, 33, 666]
The extended list is  [2, 6, 88, 99, 55, 2, 6, 88, 99, 55]
the list3 is clear and the list is  []

#6)Write a python program which find length of tuple, create tuple with repetition, performs slicing  of tuple, delete tuple, concatenation tuples, and convert list into tuple.

In [ ]:
tup1 = (1, 23, 3, 4, 5, 1, 3, 1, 2, 1)
tup2 = ("false","meet", 6, 88)
print("The first element of tuple1 is ", tup1[1])


print("The element '1' appers ", tup1.count(1), "times")

print("The length of tuple1 is ", len(tup1))


print("The sliced tuple 1 is ", tup1[4:9])
tup3 = tup1 + tup2

print("The addtion of tuple1 and tuple2 is ", tup3)

del tup3
# print("The tuple 3 is deleted ", tup3)


tup4 =[2.31, 34,"Dhruv", "5"]
lis1   = (tup4)
print("The tuple4 is converted into a list", lis1)

The first element of tuple1 is  23
The element '1' appers  4 times
The length of tuple1 is  10
The sliced tuple 1 is  (5, 1, 3, 1, 2)
The addtion of tuple1 and tuple2 is  (1, 23, 3, 4, 5, 1, 3, 1, 2, 1, 'false', 'meet', 6, 88)
The tuple4 is convetred into a list [2.31, 34, 'Dhruv', '5']

#7)Write a python program which print set, search items in set, add item, add multiple items, find  the length of set, delete the element from set using various methods, empty the set using  various methods, and join two sets.

In [ ]:
set1 ={5,33,999,2200,66}
set2={"dhruv","robot","musk"}

print("The set1 is ", set1)

set1.add(29)
print("Set1 after adding an element :-", set1)

set1.update([10,2412,404])
print("The updated set1 :- ", set1 )

print("The length of set1 is ", len(set1))

set1.pop()
print("The set1 after using pop function is ", set1)

set1.remove(29)
print("The set1 after removing 29 :- " , set1)

set1.discard(2200)
print("Set1 after discarding 2200 :- ", set1 )

set3 = set1.union(set2)
print("set1 U set2 :- ", set3)

set1.clear()
print("Set1 after clearing :- ", set1)

The set1 is  {33, 66, 5, 999, 2200}
Set1 after adding an element :- {33, 66, 5, 999, 2200, 29}
The updated set1 :-  {33, 66, 5, 999, 10, 2412, 404, 2200, 29}
The length of set1 is  9
The set1 after using pop function is  {66, 5, 999, 10, 2412, 404, 2200, 29}
The set1 after removing 29 :-  {66, 5, 999, 10, 2412, 404, 2200}
Set1 after discarding 2200 :-  {66, 5, 999, 10, 2412, 404}
set1 U set2 :-  {'musk', 66, 'dhruv', 5, 999, 10, 2412, 404, 'robot'}
Set1 after clearing :-  set()

#8)Write a python program which print dictionary, accessing items of dictionary using various  methods, change value of specific item, display dictionary using loop, display dictionary using  loop and items() method, check key is exist or not in dictionary, find length of dictionary, add  items in dictionary, remove items from dictionary using various methods, empty dictionary  using various methods, copy dictionary using various methods.

In [ ]:
dict1 = {"elon": 60,"jobs": 80}
dict2 = {"potato":20,"tamato":13,"brinjal":30}

print("The age of Elon is ", dict1["elon"])

print("The dictionary1 is ", dict1 )
dict1["gates"]=72
print("The dictionary 1 after adding a new element :-  ", dict1)

dict1["elon"]=45
print("The updated age of elon is ", dict1["elon"])

for x in dict1:
    print(x)
for x in dict1.values():
    print(x)
for x,y in dict1.items():
    print(x,y)
def checkKey(a, key):
    if key in dict1.keys():
        print("Present, ", end =" ")
        print("value =", dict1[key])
    else:
        print("Not present")
key="elon"
checkKey(dict1,key)

print("The dictionary1 length :- ", len(dict1))

dict1.pop("jobs")
print("The dictionary1 after poping jobs :- ", dict1)

dict1.popitem()
print("The dictionary1 after poping is ", dict1)

dict1.clear()
print("Dictionary1 after clearing:- ", dict1)

dict3 = dict2.copy()
print("Dictionary1 copied in dictionary 2 :-", dict2)

The age of Elon is  60
The dictionary1 is  {'elon': 60, 'jobs': 80}
The dictionary 1 after adding a new element :-   {'elon': 60, 'jobs': 80, 'gates': 72}
The updated age of elon is  45
elon
jobs
gates
45
80
72
elon 45
jobs 80
gates 72
Present,  value = 45
The dictionary1 length :-  3
The dictionary1 after poping jobs :-  {'elon': 45, 'gates': 72}
The dictionary1 after poping is  {'elon': 45}
Dictionary1 after clearing:-  {}
Dictionary1 copied in dictionary 2 :- {'potato': 20, 'tamato': 13, 'brinjal': 30}

#9)Write a python program to find max value from two values using function.

In [ ]:
a = int(input("Enter Number 1 = "))
b = int(input("Enter Number 2 = "))

def max(a , b):
    if a > b:
        print("a is greater")
    else:
        print("b is greater")
        
max(a, b)

Enter Number 1 = 55
Enter Number 2 = 66
b is greater

#10) Write a python program to find factorial of number using function.

In [ ]:
num = int(input("Enter a number = "))

def factorial(n):
    if n < 0:
        return 0
    elif n == 0 or n == 1:
        return 1
    else:
        fact = 1
        while (n > 1):
            fact *= n
            n -= 1
        return fact

print("Factorial of", num, "is",
      factorial(num))

Enter a number = 6
Factorial of 6 is 720

#11) Write a python program using function which display first name and last name in reverse as well  according to user choice

In [ ]:
firstname = input("Enter your first name : ")
lastname = input("Enter your second name : ")
print("Welcome " + lastname + " " + firstname)

Enter your first name : dhruv
Enter your second name : mistry
Welcome mistry dhruv

#12) Write a python program which shows the use of argument/s default value in function.

In [ ]:
a = int(input("Enter any number:-"))
def add(b):
 return a+b
print(f"The sum is {add(5)}")

Enter any number:-6
The sum is 11

#13)Write a python program which finds factorial of number using recursion.

In [ ]:
num = int(input("Enter a number = "))

def factorial(n):

    if (n == 1 or n == 0):
        return 1
    else:
        return (n * factorial(n - 1))

print("Factorial : ", factorial(num))

Enter a number = 9
Factorial :  362880

#14)Write a python program which print Fibonacci series using recursive function.

In [ ]:
num = int(input("Enter a number"))

def recur_fibo(n):
   if n <= 1:
       return n
   else:
       return(recur_fibo(n-1) + recur_fibo(n-2))

print("Fibonacci sequence: ")
for i in range(num):
 print(recur_fibo(i))

Enter a number6
Fibonacci sequence:
0
1
1
2
3
5

#15)Write a python program to implement student class having rno, name as class variables. Also use constructor and write input and display functions

In [ ]:
class Student:
  stuCount = 0
  def __init__(self): 
    self.name = input('Student name:') 
    self.rollno = input('Student rollno:') 
    Student.stuCount += 1 
  def displayStudent(self): 
    print("Name:", self.name, "\nRollno:", self.rollno)

s1 = Student()
s1.displayStudent()

Student name:Dhruv Mistry
Student rollno:015
Name: Dhruv Mistry
Rollno: 015

# 16) Write a program using Numpy to capitalize the first letter, lower case, upper case, swap case and title case of all the elements of a given array

In [ ]:
import numpy as np
a = np.array(["Gift","Cake","party"])
print("Given words :",a)
print("words in capital :",np.char.capitalize(a))
print("lower case words :",np.char.lower(a))
print("upper case words :",np.char.upper(a))
print("swap case words :",np.char.swapcase(a))
print("title case words :",np.char.title(a))

Given words : ['Gift' 'Cake' 'party']
words in capital : ['Gift' 'Cake' 'Party']
lower case words : ['gift' 'cake' 'party']
upper case words : ['GIFT' 'CAKE' 'PARTY']
swap case words : ['gIFT' 'cAKE' 'PARTY']
title case words : ['Gift' 'Cake' 'Party']

#17)Write a program using Numpy to encode all the elements of the given array in cp037 and  decode it again.

# New Section

In [ ]:
import numpy as np

arr = ["Let", "us", "play"]
print("The array is:- ", arr)

enco = np.char.encode(arr, encoding='cp037')
print("The encoded array is :- ", enco)

deco = np.char.decode(enco, encoding='cp037')
print("The decoded araay is :- ", deco)

The array is:-  ['Let', 'us', 'play']
The encoded array is :-  [b'\xd3\x85\xa3' b'\xa4\xa2' b'\x97\x93\x81\xa8']
The decoded araay is :-  ['Let' 'us' 'play']

# 18)Write a program using numpy that make all the elements of given string to numeric string of 4  digits with zeros on its left.

In [ ]:
import numpy as np

str1 = np.array(['123', '456', '789', '147', '258', '369', '159', '357'], dtype=np.str_)
print("The array of string is :- ", str1)

str2 = np.char.zfill(str1, 8)
print("The upgraded array of string is:- ", str2)

The array of string is :-  ['123' '456' '789' '147' '258' '369' '159' '357']
The upgraded array of string is:-  ['00000123' '00000456' '00000789' '00000147' '00000258' '00000369'
 '00000159' '00000357']

#19)Write a program using Numpy to count number of “C” element wise in a given array

In [ ]:
import numpy as np

arr = np.array(["cat", "cold", "colab", "chirag", "apple", "banana", "choclate"])
print("The array string is :- ", arr)

arr2 = np.char.count(arr, "c")
print("The number of 'c' are :- ", arr2)

The array string is :-  ['cat' 'cold' 'colab' 'chirag' 'apple' 'banana' 'choclate']
The number of 'c' are :-  [1 1 1 1 0 0 2]

#20)Write a program using Numpy to test equal, not equal, greater equal, greater and less for all the  elements of two given arrays.

In [ ]:
import numpy as np

arr1 = np.array(['hello', 'world', 'using', 'python'])
arr2 = np.array(['Hello', 'using', 'worldof', 'Python'])
print("Array1 :- ", arr1)
print("Array2 :- ", arr2)

equl_test = np.char.equal(arr1, arr2)
print("Equal Test:- ", equl_test)

not_equl_test = np.char.not_equal(arr1, arr2)
print("Not Equal Test:- ", not_equl_test)

greater_equl_test = np.char.greater_equal(arr1, arr2)
print("Greater Equal Test:- ", greater_equl_test)

greater_test = np.char.greater(arr1, arr2)
print("Greater Test:- ", greater_test)

lower_test = np.char.less(arr1, arr2)
print("Lower Test :- ", lower_test)

Array1 :-  ['hello' 'world' 'using' 'python']
Array2 :-  ['Hello' 'using' 'worldof' 'Python']
Equal Test:-  [False False False False]
Not Equal Test:-  [ True  True  True  True]
Greater Equal Test:-  [ True  True False  True]
Greater Test:-  [ True  True False  True]
Lower Test :-  [False False  True False]

#21)Write a program using Numpy to store a given array into a text file and load it.

In [ ]:
import numpy as npp
a = npp.array([23,6,9,85,5,4,4,22])
print("Array : ", a)

npp.savetxt("file1.txt",a)
c = npp.loadtxt('file1.txt')
print("Text file content", c)

Array :  [23  6  9 85  5  4  4 22]
Text file content [23.  6.  9. 85.  5.  4.  4. 22.]

#22)Write a program using numpy to get dates of yesterday, today and tomorrow

In [ ]:
import numpy as np

today = np.datetime64('today', 'D')
print("Today's Date is ", today)

yesterday = np.datetime64('today', 'D') - np.timedelta64( 1, 'D')
print("Yesterday's Date was", yesterday)

tomorrow = np.datetime64('today', 'D') + np.timedelta64( 1, 'D')
print("Tomorrow's Date  will be ", tomorrow)

Today's Date is  2022-09-06
Yesterday's Date was 2022-09-05
Tomorrow's Date  will be  2022-09-07

#23)Write a program using NumPy to compute the mean, standard deviation, and variance of a given array along the second axis.

In [ ]:
import numpy as np

a = np.array([15,6,9,988,7,73,3,6,5])
print("Array :", a)

mean1 = np.mean(a)
print("Mean :", mean1)

stad =np.std(a)
print("standard deviation :", stad)

variance  = np.var(a)
print("Variance :", variance)

Array : [ 15   6   9 988   7  73   3   6   5]
Mean : 123.55555555555556
standard deviation : 306.32956512412545
Variance : 93837.8024691358

#24)Write a program using Numpy array use to identify negative elements, positive elements and zero elements and store them in respective list and display those lists.

In [ ]:
import numpy as np
arr  = np.array([0, -69, 0, -9, 6, 45, -655, 0, -55])
print("Array :", arr)

positive = 0
negative = 0
zero = 0

for num in arr :
    if num > 0:
        positive += 1
    elif num == 0:
        zero += 1
    elif num < 0:
        negative += 1

print("Positive numbers in the list: ", positive)
print("Negative numbers in the list: ", negative)
print("Zeros in the list: ", zero)

Array : [   0  -69    0   -9    6   45 -655    0  -55]
Positive numbers in the list:  2
Negative numbers in the list:  4
Zeros in the list:  3

#25) Write a Python program which shows advantages of Numpy array over list. Advantages like  memory requirement, time requirement and operations.